<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#317EFB" />
    <script type="module" crossorigin src="../src/Spa/client/render.tsx"></script>
    <link rel="icon" type="image/svg+xml" href="../src/Assets/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token() }}" />
    <title>JH Calendar</title>
  </head>

  <body>
    <div id="client"></div>
  </body>
</html>