.button-shadow {
  box-shadow: rgba(14, 1, 10, 0.4) 0 0 5px;
}
.button-shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 5px;
}
.width-clamp {
  width: clamp(9ch, 12ch, 15ch);
}
.padding-x-clamp {
  padding-inline: clamp(2px, 1ch, 5ch);
}
/*
.text-effects {
  background: hsl(0, 0%, 90%);
 }
.text-effects:focus {
  background: white;
  color: black;
  font-weight: 900;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
}
.text-effects [value]:not([value=""]) {
  color: black;
  font-weight: 900;
  background: lightgreen;
}
*/
/*This class doesnt support hsl-colors */
.text-effect {
  background: rgb(241, 241, 241);
}
.text-effect[value]:not([value=""]) {
  background: white;
  color: black;
  font-weight: 900;
}
.text-effect:focus {
  background: white;
  color: black;
  font-weight: 900;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
}
/* LEGACY */

input {
  border: none;
}
input:focus {
  outline: 1px solid gray;
}

.from-to-dates {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 0 1 100%;
  padding-block: 2px;
}

/* Text area */

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;
  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  padding: 2px 1ch 2px 1ch;
  font: inherit;
  /* Place on top of each other */
}

textarea {
  border-radius: 5px;
  background: lightgray;
}

textarea:focus {
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  outline: 1px solid gray;
}

textarea:focus {
  background: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
}

.has-value {
  background: white;
  color: gray;
}
