:root {
  --header_height: 2rem;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  :root {
    --font_size: 20px;
    --calendar_width: 800px;
  }
}

.month-start-mon {
  display: none;
}
.month-start-tue {
  grid-column-start: min(1, 7);
}
.month-start-wed {
  grid-column-start: min(2, 7);
}
.month-start-thu {
  grid-column-start: min(3, 7);
}
.month-start-fri {
  grid-column-start: min(4, 7);
}
.month-start-sat {
  grid-column-start: min(5, 7);
}
.month-start-sun {
  grid-column-start: min(6, 7);
}

.month {
  display: grid;
  justify-content: right;
  grid-template-columns: repeat(7, 1fr);
  overflow: hidden;

  position: relative;
  padding-inline: 0rem;

  border-radius: 5px;
}
/*
.day {
  min-height: calc(90vh / 10);
  transition: background 0.1s ease-in-out;
  outline: 1px solid lightgray;
  border: 1px solid lightgray;
}
.day:hover {
  background: hsl(0, 0%, 93%);
  outline: 1px solid lightgray;
}
.day:active {
  background: hsl(100, 60%, 70%);
}

.day:hover .day-header,
.day.hover .day-header {
	background: darkgray;
}

.day-header {
  display: flex;
  justify-content: right;
  background: hsl(0, 0%, 99%);
  padding: 1px 1ch 1px 1px;
  margin-bottom: 0.5em;
  transition: background 0.1s ease-in-out;
  outline: 1px solid lightgray;
}
*/
/*
.day-header-hover {
  background: hsl(0, 0%, 60%);
  transition: background 0.2s ease-in-out;
}*/

.day-spot {
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  margin: 1px;
  border-radius: 100px;
  padding: 1px;
  background: lightblue;
}
/*
.container {
  display: flex;
  flex-direction: column;
}
*/
/*
.extend-event {
  background: transparent;
  color: transparent;
  padding: 0.1em 1ch 0.1em 1ch;
  position: absolute;
  z-index: 2;
  cursor: default;
}
*/

/*
.event {
  background: hsl(1, 60%, 57%);
  color: white;
  border-radius: 15px 15px 15px 15px;
  margin-left: 1ch;
  padding: 0.1em 1ch 0.1em 1ch;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7rem;
}
*/
/*
.event:hover {
  background: hsl(1, 100%, 57%);
  cursor: pointer;
}
*/
/*
.event-holder {
  color: transparent;
  margin-block: 0.65rem;
}
*/
/*
.span-1 {
  width: calc(1 * 100% / 7 - 2ch);
}
.span-2 {
  width: calc(2 * 100% / 7 - 2ch);
}
.span-3 {
  width: calc(3 * 100% / 7 - 2ch);
}
.span-4 {
  width: calc(4 * 100% / 7 - 2ch);
}
.span-5 {
  width: calc(5 * 100% / 7 - 2ch);
}
.span-6 {
  width: calc(6 * 100% / 7 - 2ch);
}
.span-7 {
  width: calc(7 * 100% / 7 - 2ch);
}
*/
/*
.extend-span-1 {
  min-width: calc(1 * 100% / 7 - 1 * 50% / 7);
}
.extend-span-2 {
  min-width: calc(2 * 100% / 7 - 2 * 50% / 7);
}
.extend-span-3 {
  min-width: calc(3 * 100% / 7 - 3 * 50% / 7);
}
.extend-span-4 {
  min-width: calc(4 * 100% / 7 - 4 * 50% / 7);
}
.extend-span-5 {
  min-width: calc(5 * 100% / 7 - 5 * 50% / 7);
}
.extend-span-6 {
  min-width: calc(6 * 100% / 7 - 6 * 50% / 7);
}
.extend-span-7 {
  min-width: calc(7 * 100% / 7 - 7 * 50% / 7);
}
*/
/* Color cards */

/* LEGACY */

.main-layout {
  display: grid;
  gap: 5px;
}
@media (max-width: 640px) {
  .main-layout {
    grid-template-columns: 1fr;
  }
}

.header-layout {
  height: var(--header_height);
  /* to stick */
  top: 0;
  z-index: 12;
  background: linear-gradient(260deg, hsl(0, 0%, 98%), hsl(0, 0%, 90%));
  border-inline: 1px solid hsl(0, 0%, 80%);
  border-bottom: 1px solid hsl(0, 0%, 80%);
}
.controller-layout {
  z-index: 11;
  background: hsl(0, 0%, 95%);
  border-inline: 1px solid hsl(0, 0%, 80%);
  border-radius: 0 0 10px 0;
  /*font-size: 0.6rem;*/
}
@media (max-width: 640px) {
  .controller-layout {
    border-radius: 0 0 10px 10px;
  }
}

.calendar-layout {
  margin-inline: 0ch;
}

/* header */
.header {
  flex: 1 0 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: right;
  padding-inline: 1em;
  /*font-size: 1rem;*/
}

/* controller */

.top {
  top: 0;
}
.top-controller {
  top: calc(var(--header_height));
}

/* calendar */

/* utility classes */
.flex {
  display: flex;
  justify-content: space-around;
}
.flex-column {
  flex-direction: column;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hidden {
  white-space: nowrap;
  overflow-x: hidden;
}
.sticky {
  position: sticky;
}

/* Adjustments for small devices of header layout and stick positions */
@media (max-width: 640px) {
  .header {
    flex-direction: row;
  }
}

/* legacy: loremipsum smooth scrolling */

/* Create event */

.create-event {
  padding-inline: 1em;
  gap: 1rem;
}
.create-event-button {
  background: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 5px;
  padding: 0.1em;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 0.4rem;
  font-weight: 900;
}

input {
  border: none;
}
input:focus {
  outline: 1px solid gray;
}

.create-event-text {
  border-radius: 5px;
  background: lightgray;
  padding-block: 2px;
  padding-inline: clamp(2px, 1ch, 5ch);
}
.create-event-text:focus {
  background: white;
  color: black;
  font-weight: 900;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
}
.create-event-text[value]:not([value=""]) {
  background: white;
  color: black;
  font-weight: 900;
}
.from-to-dates {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 0 1 100%;
}

.from-to-dates .create-event-text {
  width: clamp(9ch, 12ch, 15ch);
  margin-block: 0.5rem;
  text-align: center;
}

/* Text area */

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;
  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  padding: 1px 1ch 1px 1ch;
  font: inherit;
  /* Place on top of each other */
}

textarea {
  border-radius: 5px;
  background: lightgray;
}

textarea:focus {
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  outline: 1px solid gray;
}

textarea:focus {
  background: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
}

.has-value {
  background: white;
  color: gray;
}
