@tailwind base;
@tailwind components;
@tailwind utilities;

/* Buttons used in the form */
.btn {
  @apply bg-blue-500 select-none hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full;
}

.btn2 {
  @apply bg-blue-500 select-none hover:bg-blue-700 text-red-900 font-bold py-2 px-4 rounded-full;
}

@layer components {
  .controller-on {
    grid-template-columns: repeat(2, minmax(var(100px), 1fr));
    grid-template-columns: minmax(12ch, 30ch) 1fr;
  }
  .controller-off {
    grid-template-columns: 0fr 1fr;
  }

  .calendar {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--calendar_width), 1fr));
    gap: 0.5rem;
    margin-inline: 1em;
  }
}

@layer utilities {
  .smooth {
    overflow: hidden;
    transition-property: max-height;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  }
  .smooth-display-on {
    max-height: calc(100vh - var(--header_height));
  }
  .smooth-display-off {
    border-bottom: transparent;
    max-height: calc(0 * var(--header_height));
  }
}
