@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*just a remember: --header_height: 2rem;*/
  --controller_height: 98vh;
}

@font-face {
  font-family: "Roboto";
  src: url(./Roboto-Regular.ttf), url(./Roboto-Medium.ttf),
    url(./Roboto-Bold.ttf);
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

/* Buttons used in the form */
.btn {
  @apply bg-blue-500 select-none hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full;
}

.btn2 {
  @apply bg-blue-500 select-none hover:bg-blue-700 text-red-900 font-bold py-2 px-4 rounded-full;
}
.color-1 {
  @apply from-blue-500 to-blue-700;
}
.color-2 {
  @apply from-green-500 to-green-700;
}
.color-default {
  @apply from-gray-500 to-gray-700;
}

@layer utilities {
  /*
    margin-left: 7.14%;
    margin-left: 21.43%;
    margin-left: 35.71%;
    margin-left: 50%;
    margin-left: 64.29%;
    margin-left: 78.57%;
    margin-left: 92.86%;
*/

  .month-start-mon {
    display: none;
  }
  .month-start-tue {
    grid-column-start: min(1, 7);
  }
  .month-start-wed {
    grid-column-start: min(2, 7);
  }
  .month-start-thu {
    grid-column-start: min(3, 7);
  }
  .month-start-fri {
    grid-column-start: min(4, 7);
  }
  .month-start-sat {
    grid-column-start: min(5, 7);
  }
  .month-start-sun {
    grid-column-start: min(6, 7);
  }
  .extend-event-1 {
    margin-left: calc(1 * 100% / 7 - 50% / 7);
  }
  .extend-event-2 {
    margin-left: calc(2 * 100% / 7 - 50% / 7);
  }
  .extend-event-3 {
    margin-left: calc(3 * 100% / 7 - 50% / 7);
  }
  .extend-event-4 {
    margin-left: calc(4 * 100% / 7 - 50% / 7);
  }
  .extend-event-5 {
    margin-left: calc(5 * 100% / 7 - 50% / 7);
  }
  .extend-event-6 {
    margin-left: calc(6 * 100% / 7 - 50% / 7);
  }
  .extend-event-7 {
    margin-left: calc(7 * 100% / 7 - 50% / 7);
  }

  .event-span-1 {
    width: calc(1 * 100% / 7 - 0.3rem);
  }
  .event-span-2 {
    width: calc(2 * 100% / 7 - 0.3rem);
  }
  .event-span-3 {
    width: calc(3 * 100% / 7 - 0.3rem);
  }
  .event-span-4 {
    width: calc(4 * 100% / 7 - 0.3rem);
  }
  .event-span-5 {
    width: calc(5 * 100% / 7 - 0.3rem);
  }
  .event-span-6 {
    width: calc(6 * 100% / 7 - 0.3rem);
  }
  .event-span-7 {
    width: calc(7 * 100% / 7 - 0.3rem);
  }

  .extend-span-1 {
    min-width: calc(1 * 100% / 7 - 1 * 50% / 7);
  }
  .extend-span-2 {
    min-width: calc(2 * 100% / 7 - 2 * 50% / 7);
  }
  .extend-span-3 {
    min-width: calc(3 * 100% / 7 - 3 * 50% / 7);
  }
  .extend-span-4 {
    min-width: calc(4 * 100% / 7 - 4 * 50% / 7);
  }
  .extend-span-5 {
    min-width: calc(5 * 100% / 7 - 5 * 50% / 7);
  }
  .extend-span-6 {
    min-width: calc(6 * 100% / 7 - 6 * 50% / 7);
  }
  .extend-span-7 {
    min-width: calc(7 * 100% / 7 - 7 * 50% / 7);
  }
}

@layer components {
  .components-controller-on {
    grid-template-columns: repeat(2, minmax(var(100px), 1fr));
    grid-template-columns: minmax(12ch, 30ch) 1fr;
  }
  .components-controller-off {
    grid-template-columns: 0fr 1fr;
  }

  .components-calendar {
    grid-template-columns: repeat(auto-fit, minmax(var(--calendar_width), 1fr));
  }
}
/* catch day hover from day-header */
@layer components {
  .day:hover .day-header,
  .day.hover .day-header {
    background: darkgray;
  }
  .dayDivHight {
    @apply min-h-[18vh];
  }
}

@layer utilities {
  .utility-smooth {
    overflow: hidden;
    transition-property: max-height;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  }
  .utility-smooth-display-on {
    max-height: var(--controller_height);
  }
  .utility-smooth-display-off {
    border-bottom: transparent;
    max-height: calc(0 * var(--controller_height));
  }

  .text-landscape {
    font-size: 0.55rem;
    line-height: 0.8rem;
  }
}
